body {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
  }
  
  ul ul, ol ol, ul ol, ol ul {
    font-weight: bold;
    font-style: italic;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 0.5px;
    color: #000;
    text-transform: capitalize;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 26px;
  }
  
  .double-line p {
    line-height: 2;
  }
  
  .mail-box {
    width: 150px;
    background-color: #E3FFF6;
    border: 5px solid #C2E4C2;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  
  .ruler {
    width: 150px;
    box-sizing: border-box;
  }
  
  .mail-box {
    word-wrap: break-word;
  }
  
  .mail-box a {
    display: block;
  }
  
  p {
    text-align: justify;
  }
  
  .our-adv {
    background: url('http://picsum.photos/id/357/700/400?blur=5') no-repeat center/cover;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #fff;
    font-size: 16px;
  }
  
  .our-adv {
    background-size: cover;
    background-position: center;
  }
  
  h2 {
    margin-top: 60px;
    margin-bottom: 0;
  }
  
  body {
    font-family: 'PT Sans Narrow', sans-serif;
  }

  .ruler {
    width: 150px;
    background-color: lime;
    text-align: center;
  }
  