
 #fat
{
color: #FF0000
}

ol ol:first-child
 {
    background-color: yellow;
    font-style: italic;
}

ol
{
    border: 1px solid red
}

.main-title 
{
    color: green;
    text-transform: uppercase
}

a[href$=".pdf"] 
{
    color: green;
    font-style: italic;
}

a {
    color: violet;
    text-decoration: none;
}

ul ul
{
    text-transform: uppercase;
}

p a
{
    color: magenta;
    background-color: mistyrose;
}

.bold
{
    font-weight: bold;
}

li .bold
{
    text-transform: uppercase;
}

p.log
{
    text-align: right;
    border: 1px solid blue;
    font-size: 20px;
}

span {
    background-color: yellow; 
    display: inline-block;
    padding: 5px;
}

* {
    box-sizing: border-box;
}
